* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui, "Noto Sans KR", sans-serif;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 260px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo {
  margin: 0 0 8px 0;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 0.3px;
}

.buttons-section {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.add-button {
  appearance: none;
  border: 1px solid #fdf393;
  background: #fff9c4;
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}

.delete-button {
  appearance: none;
  border: 1px solid #ff6c6c;
  background: #ff8888;
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}

.save-button {
  appearance: none;
  border: 1px solid #cccccc;
  background: #ebebeb;
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}

.load-button {
  appearance: none;
  border: 1px solid #cccccc;
  background: #ebebeb;
  color: black;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
}

.hint {
  margin-top: auto;
  font-size: 12px;
  color: #6b7280;
  line-height: 1.4;
}

.canvas {
  flex: 1;
  height: 100%;
}

.property-bar {
  position: absolute;
  top: 0;
  left: 260px;
  right: 0;
  height: 64px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  padding: 0 24px;
  z-index: 10;
  gap: 8px;
}

.property-button {
  appearance: none;
  border: 1px solid #acacac;
  background: #ffffff;
  color: black;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    overflow-y: auto;
  }

  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100dvw;
    border-right: none;
    border-top: 1px solid #e5e7eb;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100dvw;
    z-index: 1000;
  }

  .hint {
    display: none;
  }

  .mini-map {
    display: none;
  }

  .buttons-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }

  .buttons-section > button {
    width: 48%;
    margin-bottom: 0;
    font-size: 16px;
  }

  .canvas {
    order: 1;
    height: calc(100dvh - 80px); /* 사이드바 높이만큼 조정 */
  }

  .property-bar {
    left: 0;
    width: 100dvw;
  }

  .controls {
    display: none;
  }

  .react-flow__handle {
    width: 12px;
    height: 12px;
  }
}
